<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% stylesheets filter="less"  output="build/css/main.css"
            '../vendor/twitter/bootstrap/dist/css/bootstrap.css'
            '../vendor/iron-summit-media/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css'
            '../app/Resources/css/base.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
        {% javascripts
            '@jquery_js'
            '@bootstrap_js'
            output="build/js/mainBackOffice.js" %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block stylesheetsAdd %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
